div.jc-calendar > header {
  position: relative;
  text-align: center; }
  div.jc-calendar > header > a.jc-prev, div.jc-calendar > header > a.jc-next, div.jc-calendar > header > a.jc-gotoToday {
    position: absolute;
    top: 0;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: background 0.2s; }
    div.jc-calendar > header > a.jc-prev::before, div.jc-calendar > header > a.jc-next::before, div.jc-calendar > header > a.jc-gotoToday::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      mask: no-repeat center/22px;
      -webkit-mask: no-repeat center/22px;
      background-color: #0897e3; }
    div.jc-calendar > header > a.jc-prev:hover, div.jc-calendar > header > a.jc-next:hover, div.jc-calendar > header > a.jc-gotoToday:hover {
      background: rgba(8, 151, 227, 0.1); }
    div.jc-calendar > header > a.jc-prev.jc-hidden, div.jc-calendar > header > a.jc-next.jc-hidden, div.jc-calendar > header > a.jc-gotoToday.jc-hidden {
      display: none; }
  div.jc-calendar > header > a.jc-prev {
    left: 0; }
    div.jc-calendar > header > a.jc-prev::before {
      mask-image: url(/img/icon-arrow-l.svg);
      -webkit-mask-image: url(/img/icon-arrow-l.svg); }
  div.jc-calendar > header > a.jc-next {
    right: 0; }
    div.jc-calendar > header > a.jc-next::before {
      mask-image: url(/img/icon-arrow-r.svg);
      -webkit-mask-image: url(/img/icon-arrow-r.svg); }
  div.jc-calendar > header > a.jc-gotoToday {
    left: 40px; }
    div.jc-calendar > header > a.jc-gotoToday::before {
      mask-image: url(/img/icon-today.svg);
      -webkit-mask-image: url(/img/icon-today.svg);
      mask-size: 18px;
      -webkit-mask-size: 18px; }
  div.jc-calendar > header > select {
    font-size: 120%;
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 3px 0 0;
    cursor: pointer; }
    div.jc-calendar > header > select > option {
      font-weight: 300; }
  div.jc-calendar > header > div.jc-dayLabels {
    display: flex;
    margin: 20px 0 12px 0; }
    div.jc-calendar > header > div.jc-dayLabels > div {
      width: calc(100% / 7);
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 110%; }

div.jc-calendar > div.jc-days {
  display: flex;
  flex-flow: row wrap; }
  div.jc-calendar > div.jc-days > div {
    position: relative;
    display: table;
    width: calc(100% / 7); }
    div.jc-calendar > div.jc-days > div.jc-hidden {
      display: none; }
    div.jc-calendar > div.jc-days > div.jc-inactive > span {
      color: #ddd; }
    div.jc-calendar > div.jc-days > div.jc-today::after {
      content: "";
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #0897e3; }
    div.jc-calendar > div.jc-days > div.jc-today > * {
      color: #fff;
      font-weight: 400; }
    div.jc-calendar > div.jc-days > div > * {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      padding: 22% 0;
      text-align: center;
      color: #aaa;
      font-size: 110%;
      font-weight: 300;
      transition: background 0.2s;
      z-index: 2; }
    div.jc-calendar > div.jc-days > div > a:hover {
      background: rgba(0, 0, 0, 0.03); }

/*# sourceMappingURL=style.css.map */